@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
    var token = tokens.RequestToken;
}
<!DOCTYPE html>
<html lang="ru-KZ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="RequestVerificationToken" content="@token" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <style>
        
    </style>

</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
