@{
    var isLoginPage = Context.Request.Path.StartsWithSegments("/Login");
}
<!DOCTYPE html>
<html lang="ru-KZ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/site_new.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/server.cabinet.orleu.kz.styles.css" asp-append-version="true" /> *@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.slim.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.slim.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/ncalayer/service.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    @* @if (!isLoginPage)
    {
        <nav class="navbar navbar-expand-lg fixed-top shadow-sm">
            <div class="container">
                <a class="navbar-brand fw-bold text-primary" href="/" style="list-style:none">«Өрлеу» біліктілікті арттыру ұлттық орталығы» АҚ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navBar">
                    <ul class="navbar-nav">
                        @{
                            if (User.Identity.IsAuthenticated == true)
                            {
                                <div>
                                    <p>@User.Identity.Name</p>
                                <li class="nav-item"><a class="btn btn-outline-primary ms-2" href="/Logout">Выход</a></li>
                        </div>
                            }
                        }
                <li class="nav-item"><a class="btn btn-outline-primary ms-2" href="/Login">Вход</a></li>
                </ul>
            </div>
            </div>
        </nav>
    } *@
            @RenderBody()
    @* <div class="container">
        <main role="main" class="pb-3">
        </main>
    </div> *@

    @* @if (!isLoginPage)
    {
        <footer class="bg-white border-top pt-5 ">
            <div class="container pb-4">
                <div class="row gy-4 gx-5 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
                    <div class="col">
                        <h6 class="fw-bold text-secondary">«Өрлеу» біліктілікті арттыру ұлттық орталығы» АҚ</h6>
                        <ul class="list-unstyled small mt-3">
                            <li><a href="#" class="text-decoration-none text-muted">Руководство пользователя</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Техподдержка</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Политика конфиденциальности</a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <h6 class="fw-semibold mb-3">О компании</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-muted">Наши услуги</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">О нас</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Контакты</a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <h6 class="fw-semibold mb-3">Помощь</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-muted">Помощь и FAQ</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Вопрос–ответ</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Техподдержка</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Пользовательское соглашение</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Обратная связь</a></li>
                        </ul>
                    </div>

                    <div class="col">
                        <h6 class="fw-semibold mb-3">Ресурсы</h6>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-muted">Полезные материалы</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Документы</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Новости</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Политика конфиденциальности</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Условия возврата</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bg-light py-3">
                <div class="container d-flex flex-column flex-sm-row justify-content-between align-items-center text-center text-sm-start gap-2">
                    <p class="mb-0 small text-muted">© "Өрлеу" біліктілікті арттыру ұлттық орталығы @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>
    } *@

    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site_new.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
