@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
    var token = tokens.RequestToken;
}
<!DOCTYPE html>
<html lang="ru-KZ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="RequestVerificationToken" content="@token" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/site_new.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/server.cabinet.orleu.kz.styles.css" asp-append-version="true" /> *@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.slim.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.slim.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/js/ncalayer/service.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link href="~/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    @RenderBody()
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site_new.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
