# --- Docker & Compose ---
.env

# --- .NET build artifacts ---
**/bin/
**/obj/
*.user
*.suo

# --- React build artifacts ---
**/node_modules/
**/build/
**/dist/
*.log
npm-debug.log*
yarn-error.log*

# --- IDE/editor files ---
.vscode/
.idea/
*.swp
*.sln
*.csproj.user

# --- OS files ---
.DS_Store
Thumbs.db
.vs/

pgdata/