@page
@model server.cabinet.orleu.kz.Pages.LoginModel
@{
    Layout = "_Layout";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="login-container">
    <div class="login-box">
        <h5 style="text-align:center;margin-bottom:0.5rem;">Вход в «Личный кабинет»</h5>
        <h5 style="text-align:center;margin-bottom:1.5rem;">АО «НЦПК «Өрлеу»</h5>

        <form method="post" asp-antiforgery="true">
            @Html.AntiForgeryToken()
            <input asp-for="DigSign" id="DigSign" name="DigSign" type="hidden" />

            <input asp-for="Username" type="text" class="input" placeholder="Введите ИИН" />
            <span asp-validation-for="Username" class="error"></span>

            <div class="password-wrapper">
                <input asp-for="Password" type="password" class="input" placeholder="Введите пароль" />
                <span class="toggle-password">&#128065;</span>
            </div>
            <span asp-validation-for="Password" class="error"></span>

            <div class="forgot">
                <a href="#">Забыли пароль?</a>
            </div>

            <div class="button-panel">
                <button type="submit" id="submit-btn" class="btn-primary">Войти</button>
                <button type="button" id="loginWithNcaLayer" class="btn-primary" style="background:gray">Войти с помощью ЭЦП</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
           $(document).ready(function () {
            try {
                // const service = new NCALayerService(()=>{});
                checkNCALayerHeartbeat((resp) => {
                    var $btn = $("#loginWithNcaLayer");
                    if (resp == false) {
                        $btn.prop("disabled", true);
                        $btn.text("Для входа с помощью ЭЦП запустите приложение NCALayer");
                        $btn.removeClass("hover:bg-gray-100 transition");
                        $btn
                            .addClass("bg-gray-200 text-gray-400 cursor-not-allowed")
                            .removeClass("border-gray-300")
                            .addClass("border-gray-200");
                    } else {
                        $btn.text("Войти с помощью ЭЦП");
                        $btn
                            .prop("disabled", false)
                            .removeClass("bg-gray-200 text-gray-400 cursor-not-allowed border-gray-200")
                            .addClass("border-gray-300 hover:bg-gray-100 transition");
                    }
                });
            }
            catch (error) {
                console.info(`Ошибка при запросе в NcaLayer:${error}`)
            }
        });

        $('#loginWithNcaLayer').on('click',function() {

            const service = new NCALayerService(function(XMLData) {
                console.info(XMLData);
                if(XMLData?.success == true) {
                    $('#DigSign').val(XMLData.content);
                    $('#submit-btn').click();
                }
            });
            try {
                service.openDialogWindow()
                .then((result)=>{
                    console.info(`ответ из NcaLayer:${result}`);
                });
            }
            catch(error) {
                console.info(`Ошибка при запросе в NcaLayer:${error}`)
            }
        });


    </script>
    <partial name="_ValidationScriptsPartial" />
}